* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px 20px 20px;
    background-color: rgb(244, 239, 252); /* Adjust the background color if needed */
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 50px; /* Adjust size to your preference */
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
}

.profile img:hover {
    transform: scale(1.4);
}

.profile span {
    font-size: 18px;
    font-weight: bold;
    color: rgb(5, 0, 0); /* Adjust color to match your theme */
}

.profile span:hover {
    transform: scale(1.1)
}

.menubar {
    display: flex;
    gap: 50px;
}

.menubar a {
    text-decoration: none;
    color: rgb(2, 0, 0);
    font-size: 20px;
}

.hero {
    text-align: center;
    padding: 200px;
    background-image: url();
    height: 500px;
}

.hero h1 {
    font-size: 2.0em;
    margin-bottom: 10px;
    color: rgb(9, 0, 0);
}

.hero h1:hover {
    transform: scale(1.5)
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: rgb(4, 0, 0);
}

.hero .btn {
    padding: 10px 20px;
    background-color: black(254, 254, 254);
    color: rgb(6, 0, 0);
    text-decoration: none;
    border-radius: 50px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: black;
}

.footer-links a, .footer-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.footer-links a:hover, .footer-nav a:hover {
    color: #000;
}
